.box1 {
    position: absolute; 
    width: 45%;
    height: 70%;
    border: solid black;
    top: 50px;
}

.box2{
    position: absolute; 
    width: 45%;
    height: 70%;
    border: solid black;
    top: 50px;
    left: 51%;
}