.box1 {
    position: absolute;
    width: 49%;
    height: 70%;
    border-right:solid black;
    top: 120px;
}

.box2{
    position: absolute;
    width: 49%;
    height: 70%;
    /* border: solid black; */
    top: 120px;
    left: 51%;
}
